.phpunit.cache/code-coverage/00d95fd21643d87be73ec0a513d311fa
.phpunit.cache/code-coverage/0e5aa21e96ab33f750dccd0e31977413
.phpunit.cache/code-coverage/0f1e593e6dc76ab4f1e8aeb40b76d1c5
.phpunit.cache/code-coverage/0f974a83653817d2578846d999a6a530
.phpunit.cache/code-coverage/1c73a737816447f8eac13810d7c7806e
.phpunit.cache/code-coverage/1c10007ef0e1dd42e9726bb638c4f78a
.phpunit.cache/code-coverage/1cf6f67e46442e332bd461633f13c982
.phpunit.cache/code-coverage/1d415f64b347e89a467688d2d9ab16bf
.phpunit.cache/code-coverage/1eed04e33e216ace3ca0a3b21370a138
.phpunit.cache/code-coverage/1f0e621042cf9da465c5fa437a082bd7
.phpunit.cache/code-coverage/1f7815a0108cc8c001a2e0cfc0be2cb0
.phpunit.cache/code-coverage/2a31fe22d444ef46500c3e2bdff7e94f
.phpunit.cache/code-coverage/2a2238c17f9f304507f9927527616212
.phpunit.cache/code-coverage/2d87f5ce3a0ead2081f9d11b3e3fe955
.phpunit.cache/code-coverage/2d5606f5f6f6eaae23a823db879c0620
.phpunit.cache/code-coverage/2da2539b7edb05796bede6b3a2f9cd73
.phpunit.cache/code-coverage/2f750aba2d24d8c32fb38ed4f25e6c55
.phpunit.cache/code-coverage/3a0e2e6025e6b06c2c3acd48874c01be
.phpunit.cache/code-coverage/3a33d59bcaa99d7c3d258a556ecdf3e5
.phpunit.cache/code-coverage/3afc25097b8ec4fcf8f661d36860b374
.phpunit.cache/code-coverage/3b0b0d436bc81752a1faae1052530170
.phpunit.cache/code-coverage/3bd2aa5c057a12f77c80bd5b6e24f7cb
.phpunit.cache/code-coverage/3fdde3fa91a4bf63f1c9a556a63c2047
.phpunit.cache/code-coverage/4a5540e878e0520e55a6885e71bd9887
.phpunit.cache/code-coverage/04b7d722c737806fda1c38ec50ebba3e
.phpunit.cache/code-coverage/4b62f5fbdff217c4e3d96fd4b9aaa5eb
.phpunit.cache/code-coverage/4b23897c2010a7729b343782338dda29
.phpunit.cache/code-coverage/04fde7c162bde894b0b17dc59754e07c
.phpunit.cache/code-coverage/5a32fe79122c99dd23eedd2527134e84
.phpunit.cache/code-coverage/5b54ebab58dee07ae789b7cb8e128e88
.phpunit.cache/code-coverage/5faec8a14c524a3d34ce23b1198b4893
.phpunit.cache/code-coverage/6a5c6439395fa930bd9f43721d6ed84e
.phpunit.cache/code-coverage/6db717e16fa2fc5075faf1b069a2e0d3
.phpunit.cache/code-coverage/7aed35ab168518e49508a965c7cc45ee
.phpunit.cache/code-coverage/7b8c9f25ab4cbc4b2216b1ae2f493d86
.phpunit.cache/code-coverage/7c5b4ea92cb2892ca27828dae920d869
.phpunit.cache/code-coverage/7e2eef2fbc89ab29bc4da46ab0f1d200
.phpunit.cache/code-coverage/7f5db549c439da2ccc4a12eff94cfdaf
.phpunit.cache/code-coverage/8a6b3cc363b9bcb18f4c5c5733f344d6
.phpunit.cache/code-coverage/8e560a5f4734bbad9585e11a18f7892e
.phpunit.cache/code-coverage/9cc70929ec1975605837c396c003b652
.phpunit.cache/code-coverage/9de4078466d8b8068a8c14262beb6790
.phpunit.cache/code-coverage/9e89097ce88c4c1f0adef5939360726f
.phpunit.cache/code-coverage/10f2b5eefa1ae0baf1c9cab7bfebb995
.phpunit.cache/code-coverage/11a58bd9be334a35e72c17d8d8161cb4
.phpunit.cache/code-coverage/13aba177184810be858ff487b0dbec8c
.phpunit.cache/code-coverage/16de66df463f74ca86b3397e21c3fcb9
.phpunit.cache/code-coverage/17ccafd3ee3b4a1c213d153f3b8dca31
.phpunit.cache/code-coverage/20afb98fc4f49fb0f064a7d96bf8d937
.phpunit.cache/code-coverage/20f42fa179272a20cd93adb3d35065a0
.phpunit.cache/code-coverage/27aba31f0904efb1b00a957f5bdbf803
.phpunit.cache/code-coverage/43b2c5fa527a6ffc74aaf7139a28b140
.phpunit.cache/code-coverage/45fb1110a8b2eac512bddf4052d1162f
.phpunit.cache/code-coverage/46f6bf2330760b156df60bcf2821c878
.phpunit.cache/code-coverage/47a8f10057f0cdbeae4912b3898718ed
.phpunit.cache/code-coverage/55dc00fe6d1d40be2dfe0a04e64eb75f
.phpunit.cache/code-coverage/59ef06610b44037934d022606819bfe0
.phpunit.cache/code-coverage/61e08148bfd50d5ec190319dfaa7190b
.phpunit.cache/code-coverage/64b9ae78a6942318aabd2b7cf7fb1861
.phpunit.cache/code-coverage/70c7919a37e49d5ac62cb462ff1101c9
.phpunit.cache/code-coverage/74b6264af9e6217e5d9f4c147f830c20
.phpunit.cache/code-coverage/76a0f655ef5a25da34b490e59c0c7948
.phpunit.cache/code-coverage/78b3c49dff310b50e87182296b5ae7db
.phpunit.cache/code-coverage/85d9200c19be4428330c5d7324a298a6
.phpunit.cache/code-coverage/93cf6225471c265a429b30b9e6c21cf0
.phpunit.cache/code-coverage/94fb7bc4d254ef9ff9f7d6d4e5926761
.phpunit.cache/code-coverage/95dec349b6fcb49dad0ae6fb250ac1a6
.phpunit.cache/code-coverage/97c22bd58a59e8ba96ca667d2615ba64
.phpunit.cache/code-coverage/103d0e26b5130d7ca756101a3c18f066
.phpunit.cache/code-coverage/106ecc6821649032b1f6579757eb6bba
.phpunit.cache/code-coverage/144e7ba647eeb128d4eb24e1c5f44b88
.phpunit.cache/code-coverage/203d5212b0631990b6491168bb289caf
.phpunit.cache/code-coverage/318c983404b1183ab2cd2cfc0f3c835b
.phpunit.cache/code-coverage/388cec4109badc20004ad4d53b8e2ef4
.phpunit.cache/code-coverage/0418a3713ec9d153e7293a3c7f7aa0b9
.phpunit.cache/code-coverage/531f6b4bb1c60ac17bb1b3aa7e9ef03c
.phpunit.cache/code-coverage/680a31f7a9107eaee52f1bbc37caf758
.phpunit.cache/code-coverage/702b7be77f54aa0bbbd444104d2a901c
.phpunit.cache/code-coverage/757fcb1d8d3e9a426ca4f3ca1aaa4817
.phpunit.cache/code-coverage/806bd6717d8c6feec2300b5d400394b9
.phpunit.cache/code-coverage/3362ab103bb92a4f1f01f06b75ef19df
.phpunit.cache/code-coverage/04731b0fdec12ca4103d1cd39425866a
.phpunit.cache/code-coverage/5140f5c718528aa7d05df683ed370233
.phpunit.cache/code-coverage/21850df4fd0bba5494f6c75dcc3217e5
.phpunit.cache/code-coverage/0043205ed1505ccde1ef30f743b7d8b6
.phpunit.cache/code-coverage/67074bebf8f5e29f5a46de6382ef1737
.phpunit.cache/code-coverage/71347e0e5e0176e4ea950a101397c34f
.phpunit.cache/code-coverage/72719f94efa91f485604d8f3f9081602
.phpunit.cache/code-coverage/73061abdec1137ab59a84b0b7f7983a0
.phpunit.cache/code-coverage/129731c16bd946283fbbf4b40abe7e87
.phpunit.cache/code-coverage/716102a10bd3edd5302b31cf2b6d9187
.phpunit.cache/code-coverage/9706673e71a0e84b9143ef1ab6657a26
.phpunit.cache/code-coverage/20212630ded6745d549f71ef01eb3a83
.phpunit.cache/code-coverage/28347466a801b393a2c5c59700d41a56
.phpunit.cache/code-coverage/54312478fc7a0ddd000e77bf270cc6f3
.phpunit.cache/code-coverage/81969342fb7531d083fe05445715697f
.phpunit.cache/code-coverage/169766283e13a8467571d4847b56cd25
.phpunit.cache/code-coverage/06273303498dbcfdcb096cdb4daeecd1
.phpunit.cache/code-coverage/945686558190c3e2c1a96b1727b88d7b
.phpunit.cache/code-coverage/a3a4ea7c712e8ac42d50f8fe50c0905b
.phpunit.cache/code-coverage/a7d40f58cae15bd78af32e06866c1a18
.phpunit.cache/code-coverage/a9373932c0f6e09cf5f978fd6fc723b2
.phpunit.cache/code-coverage/aa2e108da807c56b74e924eee0cf6ed8
.phpunit.cache/code-coverage/afb97cdd930573dff1f92a5b3b119e90
.phpunit.cache/code-coverage/b7ce3e1249f56ac838f9c2eff1ba962c
.phpunit.cache/code-coverage/b9c47fc92a12c2c58c8a84bfe2baa484
.phpunit.cache/code-coverage/b0657ba3e138512394653e017621b7d0
.phpunit.cache/code-coverage/b757f39b9c76bb011484d1932ed51f05
.phpunit.cache/code-coverage/b3903ef25a1c882fdd09d212cd9f7342
.phpunit.cache/code-coverage/b399714ec56d1645e3f3ed8cfa34c6e4
.phpunit.cache/code-coverage/b573218f8ecdff936fa639c2cac8d21b
.phpunit.cache/code-coverage/b586686772f996df736891dec303fde6
.phpunit.cache/code-coverage/bc21329178858f2825ae151f1434e197
.phpunit.cache/code-coverage/bcd03393c70ec5793508798407753f94
.phpunit.cache/code-coverage/c6eed3601f195fa8dfbc4270192fdf06
.phpunit.cache/code-coverage/c8f106ceb16e92401a7c04665e8ab026
.phpunit.cache/code-coverage/c17f817acda4ea0b0febff96433dfca7
.phpunit.cache/code-coverage/c068baf85067a7c6be75d0384a1ca816
.phpunit.cache/code-coverage/c76ea51b2acbb9978e61cded350d92f6
.phpunit.cache/code-coverage/c971b4af71032b1670c855faaab50049
.phpunit.cache/code-coverage/c2202425f22406242e6730451d32fba8
.phpunit.cache/code-coverage/ca1db0c84651a51d69fe75f6cff2128c
.phpunit.cache/code-coverage/cc4fe7146d92a1f266692b201c85f610
.phpunit.cache/code-coverage/ccc82832a7a235d92d05f884e3b56f54
.phpunit.cache/code-coverage/cd6c740ea02739e27f00c826f62a5262
.phpunit.cache/code-coverage/cfb81a44080393a54e05618163873c50
.phpunit.cache/code-coverage/d3f8b44c0a7a6848950848c4fdf24b1b
.phpunit.cache/code-coverage/d6c4a3194bdadc15ecaaaf8a7971ae6b
.phpunit.cache/code-coverage/d69964f8700b9539a3f27a319479ba4f
.phpunit.cache/code-coverage/dec79ad5681ed242fd67e24784808056
.phpunit.cache/code-coverage/dfcc0f9cf14f70bd27174422ed2a39f1
.phpunit.cache/code-coverage/e6d60e4392aaf7e75bfa15c16832d52f
.phpunit.cache/code-coverage/ea3e90b305097ce81547df3069447980
.phpunit.cache/code-coverage/eb1307162735c61ce0d8745a15ea0437
.phpunit.cache/code-coverage/ee4a785678513987503dfe53e6f97d1a
.phpunit.cache/code-coverage/ef02c5a5132104a366f91d461e594aa1
.phpunit.cache/code-coverage/efac4f450585ace641810274d7acbcef
.phpunit.cache/code-coverage/f8cf93c987a62761b250b1c59ef01ef6
.phpunit.cache/code-coverage/f21d0685a25573d77e3320005baba294
.phpunit.cache/code-coverage/f42e236510e31df9fba9cda90d1dad62
.phpunit.cache/code-coverage/f534a32ccb839745a7db724a77b0f2f8
.phpunit.cache/code-coverage/fa4578d82e7edcb64fa04312e76a637a
assets/favicon.ico
config/.env.example
config/app_local.php
config/app.php
config/bootstrap.php
config/paths.php
config/plugins.php
config/routes.php
config/Migrations/20250711060922_CreateAiMetrics.php
config/Migrations/20250711075245_InsertAiMetricsSettings.php
config/Migrations/20250711085704_ProductFeature.php
config/Migrations/20250711132455_DuplicateArticlesAsAdapters.php
config/Migrations/20250711142101_ChangePageView.php
config/Migrations/20250711145837_V2.php
config/Migrations/schema-dump-default.lock
config/Seeds/UsersSeed.php
default_data/ai_metrics.json
default_data/aiprompts.json
default_data/articles_tags.json
default_data/articles_translations.json
default_data/articles.json
default_data/attributes.json
default_data/blocked_ips.json
default_data/comments.json
default_data/connectors.json
default_data/cookie_consents.json
default_data/email_templates.json
default_data/image_galleries_images.json
default_data/image_galleries_translations.json
default_data/image_galleries.json
default_data/images.json
default_data/internationalisations.json
default_data/models_images.json
default_data/page_views.json
default_data/phinxlog.json
default_data/product_attributes.json
default_data/product_connectors.json
default_data/product_links.json
default_data/product_usages.json
default_data/products.json
default_data/settings.json
default_data/slugs.json
default_data/system_logs.json
default_data/tags_translations.json
default_data/tags.json
default_data/usages.json
default_data/user_account_confirmations.json
default_data/users.json
docker/jenkins/jenkins.yaml
docker/mailpit_data/mailpit.db
docker/mailpit_data/mailpit.db-shm
docker/mailpit_data/mailpit.db-wal
docker/mysql/init_cords_custom.sql
docker/mysql/README.md
docker/mysql/data/#ib_16384_0.dblwr
docker/mysql/data/#ib_16384_1.dblwr
docker/mysql/data/auto.cnf
docker/mysql/data/binlog.000001
docker/mysql/data/binlog.000002
docker/mysql/data/binlog.index
docker/mysql/data/ca-key.pem
docker/mysql/data/ca.pem
docker/mysql/data/client-cert.pem
docker/mysql/data/client-key.pem
docker/mysql/data/ib_buffer_pool
docker/mysql/data/ibdata1
docker/mysql/data/ibtmp1
docker/mysql/data/mysql_upgrade_history
docker/mysql/data/mysql.ibd
docker/mysql/data/mysql.sock
docker/mysql/data/private_key.pem
docker/mysql/data/public_key.pem
docker/mysql/data/server-cert.pem
docker/mysql/data/server-key.pem
docker/mysql/data/undo_001
docker/mysql/data/undo_002
docker/mysql/data/#innodb_redo/#ib_redo9
docker/mysql/data/#innodb_redo/#ib_redo10
docker/mysql/data/#innodb_redo/#ib_redo11
docker/mysql/data/#innodb_redo/#ib_redo12
docker/mysql/data/#innodb_redo/#ib_redo13
docker/mysql/data/#innodb_redo/#ib_redo14
docker/mysql/data/#innodb_redo/#ib_redo15
docker/mysql/data/#innodb_redo/#ib_redo16
docker/mysql/data/#innodb_redo/#ib_redo17
docker/mysql/data/#innodb_redo/#ib_redo18
docker/mysql/data/#innodb_redo/#ib_redo19
docker/mysql/data/#innodb_redo/#ib_redo20
docker/mysql/data/#innodb_redo/#ib_redo21
docker/mysql/data/#innodb_redo/#ib_redo22
docker/mysql/data/#innodb_redo/#ib_redo23
docker/mysql/data/#innodb_redo/#ib_redo24
docker/mysql/data/#innodb_redo/#ib_redo25
docker/mysql/data/#innodb_redo/#ib_redo26
docker/mysql/data/#innodb_redo/#ib_redo27
docker/mysql/data/#innodb_redo/#ib_redo28
docker/mysql/data/#innodb_redo/#ib_redo29
docker/mysql/data/#innodb_redo/#ib_redo30
docker/mysql/data/#innodb_redo/#ib_redo31_tmp
docker/mysql/data/#innodb_redo/#ib_redo32_tmp
docker/mysql/data/#innodb_redo/#ib_redo33_tmp
docker/mysql/data/#innodb_redo/#ib_redo34_tmp
docker/mysql/data/#innodb_redo/#ib_redo35_tmp
docker/mysql/data/#innodb_redo/#ib_redo36_tmp
docker/mysql/data/#innodb_redo/#ib_redo37_tmp
docker/mysql/data/#innodb_redo/#ib_redo38_tmp
docker/mysql/data/#innodb_redo/#ib_redo39_tmp
docker/mysql/data/#innodb_redo/#ib_redo40_tmp
docker/mysql/data/#innodb_temp/temp_1.ibt
docker/mysql/data/#innodb_temp/temp_2.ibt
docker/mysql/data/#innodb_temp/temp_3.ibt
docker/mysql/data/#innodb_temp/temp_4.ibt
docker/mysql/data/#innodb_temp/temp_5.ibt
docker/mysql/data/#innodb_temp/temp_6.ibt
docker/mysql/data/#innodb_temp/temp_7.ibt
docker/mysql/data/#innodb_temp/temp_8.ibt
docker/mysql/data/#innodb_temp/temp_9.ibt
docker/mysql/data/#innodb_temp/temp_10.ibt
docker/mysql/data/cms/aiprompts.ibd
docker/mysql/data/cms/articles_tags.ibd
docker/mysql/data/cms/articles_translations.ibd
docker/mysql/data/cms/articles.ibd
docker/mysql/data/cms/blocked_ips.ibd
docker/mysql/data/cms/comments.ibd
docker/mysql/data/cms/cookie_consents.ibd
docker/mysql/data/cms/email_templates.ibd
docker/mysql/data/cms/image_galleries_images.ibd
docker/mysql/data/cms/image_galleries_translations.ibd
docker/mysql/data/cms/image_galleries.ibd
docker/mysql/data/cms/images.ibd
docker/mysql/data/cms/internationalisations.ibd
docker/mysql/data/cms/models_images.ibd
docker/mysql/data/cms/page_views.ibd
docker/mysql/data/cms/phinxlog.ibd
docker/mysql/data/cms/settings.ibd
docker/mysql/data/cms/slugs.ibd
docker/mysql/data/cms/system_logs.ibd
docker/mysql/data/cms/tags_translations.ibd
docker/mysql/data/cms/tags.ibd
docker/mysql/data/cms/user_account_confirmations.ibd
docker/mysql/data/cms/users.ibd
docker/mysql/data/cms_test/aiprompts.ibd
docker/mysql/data/cms_test/articles_tags.ibd
docker/mysql/data/cms_test/articles_translations.ibd
docker/mysql/data/cms_test/articles.ibd
docker/mysql/data/cms_test/blocked_ips.ibd
docker/mysql/data/cms_test/comments.ibd
docker/mysql/data/cms_test/cookie_consents.ibd
docker/mysql/data/cms_test/email_templates.ibd
docker/mysql/data/cms_test/image_galleries_images.ibd
docker/mysql/data/cms_test/image_galleries_translations.ibd
docker/mysql/data/cms_test/image_galleries.ibd
docker/mysql/data/cms_test/images.ibd
docker/mysql/data/cms_test/internationalisations.ibd
docker/mysql/data/cms_test/models_images.ibd
docker/mysql/data/cms_test/page_views.ibd
docker/mysql/data/cms_test/phinxlog.ibd
docker/mysql/data/cms_test/settings.ibd
docker/mysql/data/cms_test/slugs.ibd
docker/mysql/data/cms_test/system_logs.ibd
docker/mysql/data/cms_test/tags_translations.ibd
docker/mysql/data/cms_test/tags.ibd
docker/mysql/data/cms_test/user_account_confirmations.ibd
docker/mysql/data/cms_test/users.ibd
docker/mysql/data/mysql/general_log_214.sdi
docker/mysql/data/mysql/general_log.CSM
docker/mysql/data/mysql/general_log.CSV
docker/mysql/data/mysql/slow_log_215.sdi
docker/mysql/data/mysql/slow_log.CSM
docker/mysql/data/mysql/slow_log.CSV
docker/mysql/data/performance_schema/accounts_146.sdi
docker/mysql/data/performance_schema/binary_log_trans_190.sdi
docker/mysql/data/performance_schema/cond_instances_81.sdi
docker/mysql/data/performance_schema/data_lock_waits_162.sdi
docker/mysql/data/performance_schema/data_locks_161.sdi
docker/mysql/data/performance_schema/error_log_82.sdi
docker/mysql/data/performance_schema/events_errors_su_140.sdi
docker/mysql/data/performance_schema/events_errors_su_141.sdi
docker/mysql/data/performance_schema/events_errors_su_142.sdi
docker/mysql/data/performance_schema/events_errors_su_143.sdi
docker/mysql/data/performance_schema/events_errors_su_144.sdi
docker/mysql/data/performance_schema/events_stages_cu_112.sdi
docker/mysql/data/performance_schema/events_stages_hi_113.sdi
docker/mysql/data/performance_schema/events_stages_hi_114.sdi
docker/mysql/data/performance_schema/events_stages_su_115.sdi
docker/mysql/data/performance_schema/events_stages_su_116.sdi
docker/mysql/data/performance_schema/events_stages_su_117.sdi
docker/mysql/data/performance_schema/events_stages_su_118.sdi
docker/mysql/data/performance_schema/events_stages_su_119.sdi
docker/mysql/data/performance_schema/events_statement_120.sdi
docker/mysql/data/performance_schema/events_statement_121.sdi
docker/mysql/data/performance_schema/events_statement_122.sdi
docker/mysql/data/performance_schema/events_statement_123.sdi
docker/mysql/data/performance_schema/events_statement_124.sdi
docker/mysql/data/performance_schema/events_statement_125.sdi
docker/mysql/data/performance_schema/events_statement_126.sdi
docker/mysql/data/performance_schema/events_statement_127.sdi
docker/mysql/data/performance_schema/events_statement_128.sdi
docker/mysql/data/performance_schema/events_statement_129.sdi
docker/mysql/data/performance_schema/events_statement_130.sdi
docker/mysql/data/performance_schema/events_statement_131.sdi
docker/mysql/data/performance_schema/events_transacti_132.sdi
docker/mysql/data/performance_schema/events_transacti_133.sdi
docker/mysql/data/performance_schema/events_transacti_134.sdi
docker/mysql/data/performance_schema/events_transacti_135.sdi
docker/mysql/data/performance_schema/events_transacti_136.sdi
docker/mysql/data/performance_schema/events_transacti_137.sdi
docker/mysql/data/performance_schema/events_transacti_138.sdi
docker/mysql/data/performance_schema/events_transacti_139.sdi
docker/mysql/data/performance_schema/events_waits_cur_83.sdi
docker/mysql/data/performance_schema/events_waits_his_84.sdi
docker/mysql/data/performance_schema/events_waits_his_85.sdi
docker/mysql/data/performance_schema/events_waits_sum_86.sdi
docker/mysql/data/performance_schema/events_waits_sum_87.sdi
docker/mysql/data/performance_schema/events_waits_sum_88.sdi
docker/mysql/data/performance_schema/events_waits_sum_89.sdi
docker/mysql/data/performance_schema/events_waits_sum_90.sdi
docker/mysql/data/performance_schema/events_waits_sum_91.sdi
docker/mysql/data/performance_schema/file_instances_92.sdi
docker/mysql/data/performance_schema/file_summary_by__93.sdi
docker/mysql/data/performance_schema/file_summary_by__94.sdi
docker/mysql/data/performance_schema/global_status_182.sdi
docker/mysql/data/performance_schema/global_variables_185.sdi
docker/mysql/data/performance_schema/host_cache_95.sdi
docker/mysql/data/performance_schema/hosts_147.sdi
docker/mysql/data/performance_schema/keyring_componen_192.sdi
docker/mysql/data/performance_schema/keyring_keys_153.sdi
docker/mysql/data/performance_schema/log_status_175.sdi
docker/mysql/data/performance_schema/memory_summary_b_155.sdi
docker/mysql/data/performance_schema/memory_summary_b_156.sdi
docker/mysql/data/performance_schema/memory_summary_b_157.sdi
docker/mysql/data/performance_schema/memory_summary_b_158.sdi
docker/mysql/data/performance_schema/memory_summary_g_154.sdi
docker/mysql/data/performance_schema/metadata_locks_160.sdi
docker/mysql/data/performance_schema/mutex_instances_96.sdi
docker/mysql/data/performance_schema/objects_summary__97.sdi
docker/mysql/data/performance_schema/performance_time_98.sdi
docker/mysql/data/performance_schema/persisted_variab_188.sdi
docker/mysql/data/performance_schema/prepared_stateme_176.sdi
docker/mysql/data/performance_schema/processlist_99.sdi
docker/mysql/data/performance_schema/replication_appl_166.sdi
docker/mysql/data/performance_schema/replication_appl_167.sdi
docker/mysql/data/performance_schema/replication_appl_168.sdi
docker/mysql/data/performance_schema/replication_appl_169.sdi
docker/mysql/data/performance_schema/replication_appl_171.sdi
docker/mysql/data/performance_schema/replication_appl_172.sdi
docker/mysql/data/performance_schema/replication_asyn_173.sdi
docker/mysql/data/performance_schema/replication_asyn_174.sdi
docker/mysql/data/performance_schema/replication_conn_163.sdi
docker/mysql/data/performance_schema/replication_conn_165.sdi
docker/mysql/data/performance_schema/replication_grou_164.sdi
docker/mysql/data/performance_schema/replication_grou_170.sdi
docker/mysql/data/performance_schema/rwlock_instances_100.sdi
docker/mysql/data/performance_schema/session_account__152.sdi
docker/mysql/data/performance_schema/session_connect__151.sdi
docker/mysql/data/performance_schema/session_status_183.sdi
docker/mysql/data/performance_schema/session_variable_186.sdi
docker/mysql/data/performance_schema/setup_actors_101.sdi
docker/mysql/data/performance_schema/setup_consumers_102.sdi
docker/mysql/data/performance_schema/setup_instrument_103.sdi
docker/mysql/data/performance_schema/setup_meters_104.sdi
docker/mysql/data/performance_schema/setup_metrics_105.sdi
docker/mysql/data/performance_schema/setup_objects_106.sdi
docker/mysql/data/performance_schema/setup_threads_107.sdi
docker/mysql/data/performance_schema/socket_instances_148.sdi
docker/mysql/data/performance_schema/socket_summary_b_149.sdi
docker/mysql/data/performance_schema/socket_summary_b_150.sdi
docker/mysql/data/performance_schema/status_by_accoun_178.sdi
docker/mysql/data/performance_schema/status_by_host_179.sdi
docker/mysql/data/performance_schema/status_by_thread_180.sdi
docker/mysql/data/performance_schema/status_by_user_181.sdi
docker/mysql/data/performance_schema/table_handles_159.sdi
docker/mysql/data/performance_schema/table_io_waits_s_108.sdi
docker/mysql/data/performance_schema/table_io_waits_s_109.sdi
docker/mysql/data/performance_schema/table_lock_waits_110.sdi
docker/mysql/data/performance_schema/threads_111.sdi
docker/mysql/data/performance_schema/tls_channel_stat_191.sdi
docker/mysql/data/performance_schema/user_defined_fun_189.sdi
docker/mysql/data/performance_schema/user_variables_b_177.sdi
docker/mysql/data/performance_schema/users_145.sdi
docker/mysql/data/performance_schema/variables_by_thr_184.sdi
docker/mysql/data/performance_schema/variables_info_187.sdi
docker/mysql/data/sys/sys_config.ibd

# ignore the vendor directory
/vendor
tmp
docker/mysql/data
dump.rdb
